* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #f76262;
}
h2 {
  font-size: 1.3rem;
  color: #f76262;
}
p {
  line-height: 1.5;
}

canvas {
  display: block;
  margin: auto;
  box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.game-area {
  background: #293462;
  padding-bottom: 50px;
}

.game-title {
  margin: 0;
  padding: 10px 0 5px 10px;
}
.status-area {
  font-weight: bold;
  width: 402px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.resetBtn {
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  outline: none;
  transition: background-color 0.3s;
}

.resetBtn:hover {
  background: rgba(247, 98, 98, 1);
}

.resetBtn:active {
  background: yellow;
}

article {
  width: 70%;
  margin: 70px auto 50px;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  padding-top: 20px;
}

/* Game over dialog box */
.gameOverDialogBox {
  position: fixed;
  font-family: "Space Mono", monospace;
  background: #0d47a1;
  border: none;
}
.gameOverDialogBox::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  color: white;
  border: none;
}

.closeBtn:hover {
  background: rgba(247, 98, 98, 1);
}

.closeBtn:active {
  background: rgba(247, 98, 98, 0.8);
}

@media only screen and (max-width: 800px) {
  article {
    width: 90%;
  }
}
